<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>922416182780-8mnghum41536hanh8hgathag35n7i6v1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.922416182780-8mnghum41536hanh8hgathag35n7i6v1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>922416182780-emgvqqq1csa88d66viq6rghlj0ouo444.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAXrrSkZTaRrHTiCS9eVbsUJjWtFQx_HEY</string>
	<key>GCM_SENDER_ID</key>
	<string>922416182780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.testtt.appreward</string>
	<key>PROJECT_ID</key>
	<string>groupadorewardapp</string>
	<key>STORAGE_BUCKET</key>
	<string>groupadorewardapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:922416182780:ios:e3c4c0ca20e3200c77ae79</string>
</dict>
</plist>